//colors
// $off-black: #20222E;
// $off-white: #a5afd7;
// $blue: #3c4251;
// $light-blue: #464b5e;
// $dark-blue: #333745;
// $purple: #8357c5;

//spacing
$ssize: 1.2rem;
$msize: 1.6rem;
$lsize: 3.2rem;
$xlsize: 4.8rem;
$desktop-break-point: 45rem; 